In [1]:
'''
Exemplos e exercícios do capítulo 3 do livro "Python para análise de dados"
de Wes McKinney, traduzido por Novatec

Estruturas de dados embutidas, funções e arquivos
'''

'\nExemplos e exercícios do capítulo 3 do livro "Python para análise de dados"\nde Wes McKinney, traduzido por Novatec\n\nEstruturas de dados embutidas, funções e arquivos\n'

In [2]:
# Tupla
tup = 4,5,6
tup

(4, 5, 6)

In [3]:
nested_tup = (4,5,6),(7,8)
nested_tup

((4, 5, 6), (7, 8))

In [4]:
tuple([4,5,6])

(4, 5, 6)

In [5]:
tup = tuple('string')

In [6]:
tup

('s', 't', 'r', 'i', 'n', 'g')

In [7]:
tup[0]

's'

In [8]:
tup = tuple(['foo',[1,2],True])

In [12]:
# elementos interno são imutáveis
# tup[2] = False # typeError

TypeError: 'tuple' object does not support item assignment

In [10]:
# elementos mutáveis da tupla podem ser alterados
tup[1].append(3)

In [11]:
tup

('foo', [1, 2, 3], True)

In [14]:
(4,None,'foo') + (6,0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [15]:
('foo','bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [16]:
# desempacotando tuplas
tup = (4,5,6)
a,b,c = tup
b

5

In [17]:
tup = 4,5,(6,7)
a,b,(c,d) = tup
d

7

In [19]:
# troca de variáveis
a,b = 1,2

In [20]:
a

1

In [21]:
b

2

In [22]:
b,a = a,b

In [23]:
a

2

In [24]:
b

1

In [25]:
# iteração por sequências de tuplas ou listas
seq = [(1,2,3),(4,5,6),(7,8,9)]

In [26]:
for a,b,c in seq:
    print('a={0},b={1},c={2}'.format(a,b,c))

a=1,b=2,c=3
a=4,b=5,c=6
a=7,b=8,c=9

In [27]:
values = 1,2,3,4,5
a,b,*rest = values
a,b

(1, 2)

In [28]:
rest

[3, 4, 5]

In [29]:
a,b,*_ = values

In [30]:
_

[3, 4, 5]

In [31]:
# métodos de tupla
a = (1,2,2,2,3,4,2)
a.count(2)

4